body {
            background-color: #808080; /* Grey background color */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            width: 100%;
            background-color: #4CAF50; /* Green */
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .signup-link {
            text-align: center;
            margin-top: 10px;
        }

        .signup-link a {
            color: #4CAF50;
            text-decoration: none;
        }

        .signup-link a:hover {
            text-decoration: underline;
        }

        .teamwork-images {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .teamwork-images img {
            width: 30%;
            border-radius: 8px;
        }
        .google{
            background-color: blue;
            width: 100%;
            padding: 10px;
            margin: 30px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: white;
            font-size: 15px;
            
        }